body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
}

.sidebar {
    width: 260px;
    background: #111827;
    padding: 30px 20px;
    height: 100vh;
}

.sidebar h2 {
    color: #f97316;
    margin-bottom: 40px;
}

.sidebar a {
    display: block;
    color: #cbd5e1;
    padding: 12px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar a:hover {
    background: #f97316;
    color: white;
}

.main {
    flex: 1;
    padding: 30px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout {
    background: #f97316;
    padding: 8px 15px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.card {
    flex: 1 1 220px;
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.card h2 {
    color: #f97316;
    font-size: 28px;
}

.highlight {
    background: #f97316;
    color: white;
}

.highlight h2 {
    color: white;
}

.table-section {
    margin-top: 40px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    border-bottom: 2px solid #f97316;
}

tr:hover {
    background: #334155;
}